#content {
    padding-bottom: 40px;
}
.footer-fixed {
    background-color: #FFF;
    bottom: 0px;
    height: 40px;
    position: fixed;
    width: 100%;
}
.nav-footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.nav-footer ul li {
    display: inline;
    margin: 0px 8px;
}
.nav-footer ul li:first-child {
    margin-left: 0px;
}
.nav-footer ul li:last-child {
    margin-right: 0px;
}
#player {
    width: 100%;
}