.pace {
    display: block!important;
}
.pace .pace-activity {
    height: 140px;
    width: 140px;
}
.pace .pace-activity::before {
    bottom: 10px;
    height: 40px;
    right: 0px;
    margin-left: -20px;
    width: 40px;
}
.pace .pace-activity::after {
    bottom: 20px;
    height: 20px;
    margin-left: -10px;
    width: 20px;
}